.logo {
    background-color: black;
    width: 100%;
    height: 110px;
    z-index: -10;   
}

.logo p{
    position: relative;
    color: white;
    font-size: 60px;
    left: 46%;
    top: -65px;
    font-family: "DM Serif Display", serif;
   
}

.logo span{
    color: white;
    margin: 30px;
    position: relative;
    font-size: 20px;
    text-align: center;
    top: 50px;
    left: 30px;
}

.logo a{
    text-decoration: none;
    color: white;
}

.logo img{
    position: relative;
    width: 250px;
    height: 114px;
    left: 155px;
}

/* USUARIOS */

#sesion{
    position: relative;
    width: 55px;
    height: 55px;
    top: -90px;
    left: 1050px;
}

#sesion:hover{
    border: 1px solid white;
    width: 55px;
    height: 55px;
}

#InicioSesion{
    position: relative;
    color: white;
    top: -90px;
    left: 1090px;
}


#candado{
    position: relative;
    width: 55px;
    height: 55px;
    top: -90px;
    left: 1210px;
}

#Registrarse{
    position: relative;
    color: white;
    top: -90px;
    left: 1120px;
}

#Registrarse a{
    color: white;
    text-decoration: none;
}

#candado:hover{
    border: 1px solid white;
    width: 55px;
    height: 55px;
}

/* REDES SOCIALES */

#facebook{
    background-color: white;
    position: absolute;
    width: 35px;
    height: 33px;
    top: 53PX;
    left: 25px;
}

#instagram{
    background-color: white;
    position: absolute;
    width: 60px;
    height: 28px;
    top: 55PX;
    left: 145px;
}

#whatsapp{
    background-color: white;
    position: absolute;
    width: 40px;
    height: 35px;
    top: 52PX;
    left: 300px;
}

/* SEGUNDO MENU TIENDA */

.linkInicio {
    position: relative;
    left: 275px;
    top: -30px;
    margin: 35px;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.linkInicio:hover {
    background-color: rgb(92, 143, 92);
    color: white;
}

#CasaInicio{
    position: relative;
    width: 100px;
    height: 100px;
    left: 410px;
    top: -50px;
}

.linkTienda{
    position: relative;
    left: 260px;
    top: -30px;
    margin: 35px;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

#carrito{
    position: relative;
    width: 100px;
    height: 100px;
    left: 400px;
    top: -50px;
}

.linkTienda:hover {
    background-color: #eee;
    color: black;
}

#microscopio{
    position: relative;
    width: 100px;
    height: 100px;
    left: 400px;
    top: -46px;
}

.linkCurso{
    position: relative;
    left: 260px;
    top: -30px;
    margin: 35px;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.linkCurso:hover {
    background-color: red;
    color: white;
}

#cursos a{
    text-decoration: none;
    color: black;
}

/* TEXTO DESCRIPTIVO DEL CURSO */


.pagina-2 img{
    position: absolute;
    width: 100%;
    height: 1500px;
    z-index: -10;
    top: 380px;
}

.pagina-2 div{
    position: relative;
    width: 450px;
    font-size: 20px;
    margin-top: 150px;
    padding: 20px;
    left: 450px;
    text-align: center;

}